body {background-color: thistle }
h1 {font-size: 300%}
h3,h5 {color: blue; text-align: center;}
h2,h4,h6 {color: purple; text-align: center;}
#para1 {text-align: center;  color: red; font-style: italic;}